@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"/>
    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="/dashboard/"/>
    <RadzenPanelMenuItem Text="Dashboard V2" Icon="dashboard" Path="/dashboardV2/"/>
    <RadzenPanelMenuItem Text="Transactions" Icon="contract" Path="/transactions/" />
    <RadzenPanelMenuItem Text="Profile" Icon="account_circle" Path="/profile/" />
    <RadzenPanelMenuItem Text="Login" Icon="calculate" Path="/login/"/>
    <RadzenPanelMenuItem Text="Register" Icon="calculate" Path="/register/"/>
    <RadzenPanelMenuItem Text="Settings" Icon="settings" Path="/settings/"/>
    <RadzenPanelMenuItem Text="Log Out" Icon="logout" Click="Logout"/>
</RadzenPanelMenu>
<div class="rz-p-4">
    Sidebar
</div>

@code
{
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/login");
    }
}
