@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">BudgetAppV2</a> *@
@*     </div> *@
@* </div> *@
@* *@
@* <input type="checkbox" title="Navigation menu" class="navbar-toggler"/> *@
@* *@
@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"> *@
@*     <nav class="flex-column"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="counter"> *@
@*                 <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="weather"> *@
@*                 <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
@*             </NavLink> *@
@*         </div> *@
@*     </nav> *@
@* </div> *@

<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"/>
    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="/dashboard/"/>
    <RadzenPanelMenuItem Text="Budget" Icon="sunny" Path="/budget/"/>
    <RadzenPanelMenuItem Text="Counter" Icon="calculate" Path="/counter/"/>
    <RadzenPanelMenuItem Text="Settings" Icon="settings" Path="/settings/"/>
</RadzenPanelMenu>
<div class="rz-p-4">
    Sidebar
</div>